<link href="/app/views/website/category/category-choose.css" rel="stylesheet" />

<section class="row choose-cat">
    <div class="container">
        <div class="col-xs-12 center-block float-right">

            <div class="col-md-6 text-center">
                <div class="col-xs-10">
                    <img src="/content/images/clockBlue.png" />
                    <h3 class="font-bold">עד 120 דקות<br /> ובעל המקצוע אצלך</h3>
                    <p>
                        מסלול זה שולח התראה לכל בעלי המקצוע הנמצאים קרוב לכתובתך
                        בעל המקצוע שזמין לקבל את העבודה יגיע לטיפול
                        התקלה עד ל כ-120 דקות
                    </p>
                    <a>בחר במסלול 120 דקות</a>
                </div>

            </div>
            <div class="col-md-6 text-center float-left">
                <div class="col-xs-10 float-left">
                    <img src="/content/images/raringBlue.png" />
                    <h3 class="font-bold">צפייה בדירוגים וחוות דעת<br /> ובחירת בעל מקצוע</h3>
                    <p>
                        מסלול זה מאפשר צפייה בדירוגי בעלי המקצוע כפי
                        שהתקבלו מניסיונם של אחרים, ניתן לבחור את
                        בעל המקצוע אשר יגיע לטיפול התקלה
                    </p>
                    <a>בחר במסלול דירוגים וחוות דעת</a>
                </div>
            </div>
        </div>

    </div>
</section>













