<link href="/app/views/website/category/category.css" rel="stylesheet" />

<section class="row">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <search></search>
            </div>
        </div>

        <div class="row">
            <ul class="categories-list">
                <li ng-repeat="category in models.categories track by $index" class="category-holder">
                    <img alt="{{category.Name}}" src="/content/images/category/{{category.Img}}" title="{{category.Name}}" />
                    <p class="font-bold"><a class="color-blue" ui-sref="website.category.sub({categoryName:category.Name})">{{category.Name}}</a></p>
                </li>
            </ul>
            <!--ng-click="setCategoryCookie(category)"-->
        </div>
    </div>
</section>




