<link href="/app/views/website/category/category.css" rel="stylesheet" />

<section class="row">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <search></search>
            </div>
        </div>

        <div class="row">
            <div ng-repeat="category in models.categories track by $index" class="col-xs-6 col-lg-3 col-md-3 col-sm-3 category-holder">
                <img alt="{{category.Name}}" src="/content/images/category/{{category.Img}}" title="{{category.Name}}"/>
                <p class="font-bold"><a class="color-blue" ui-sref="website.category.sub({categoryName:category.Name})">{{category.Name}}</a></p> <!--ng-click="setCategoryCookie(category)"-->
            </div>
        </div>
    </div>
</section>




