<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="he-IL" uiCulture="he-IL"/>
    <urlMappings enabled="true"/>
  </system.web>
  <connectionStrings>
    <add name="avBaitLocal" connectionString="Server=TOSHIBA\SQLEXPRESS;Database=avBait;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="avBaitProd" connectionString="Data Source=SQL5026.myWindowsHosting.com;Initial Catalog=DB_9FBCC4_avbait;User Id=DB_9FBCC4_avbait_admin;Password=picsize4589!;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>