#choose-category
{
    background-image: url('/content/images/quickorder.png');
}

.category
{
    background-repeat: no-repeat;
    background-position: 74% 6%;
    background-size: 12%;
    padding-bottom: 8rem;
}

    .category h2
    {
        font-size: 6rem;
    }

#levels
{
    font-size: 2rem;
}

.category .category-list
{
    list-style: none;
    margin-top: 3rem;
}

    .category .category-list li
    {
        display: inline-block;
    }


        .category .category-list li a
        {
            display: inline-block;
            font-size: 1.7rem;
        }


        .category .category-list li:not(:last-child):after
        {
            content: "|";
        }


.category ul:not(#progressbarfirst)
{
    list-style: none;
    margin-top: 3rem;
    padding: 0;
}

.category ul li
{
    display: inline-block;
}


    .category ul li a
    {
        display: inline-block;
        font-size: 1.5rem;
    }


    .category ul li:not(:first-child):before
    {
        content: " ,";
    }



.box-cat
{
    margin-top: 5rem;
    padding: 0 1.5rem 0 1.5rem;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 13rem;
}

    .box-cat h3
    {
        margin-right: 2.5rem;
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    .box-cat a
    {
        text-decoration: none;
    }

        .box-cat a:hover
        {
            color: #dfe1e1;
        }

/*#plumber
{
    background: url('/content/images/category/plumbers.png') no-repeat;
    background-size: contain;
}


#electric
{
    background: url('/content/images/category/electric.png') no-repeat;
    background-size: contain;
}


#lock
{
    background: url('/content/images/category/lock.png') no-repeat;
    background-size: contain;
}


#ants
{
    background: url('/content/images/category/ants.png') no-repeat;
    background-size: contain;
}


#sun
{
    background: url('/content/images/category/sun.png') no-repeat;
    background-size: contain;
}


#computer
{
    background: url('/content/images/category/computer.png') no-repeat;
    background-size: contain;
}


#air
{
    background: url('/content/images/category/air.png') no-repeat;
    background-size: contain;
}

#laundry
{
    background: url('/content/images/category/laundry.png') no-repeat;
    background-size: contain;
}

#oven
{
    background: url('/content/images/category/oven.png') no-repeat;
    background-size: contain;
}

#gas
{
    background: url('/content/images/category/gas.png') no-repeat;
    background-size: contain;
}

#refrigirator
{
    background: url('/content/images/category/refrigirator.png') no-repeat;
    background-size: contain;
}

#wash
{
    background: url('/content/images/category/wash.png') no-repeat;
    background-size: contain;
}*/





#progressbarfirst
{
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

    #progressbarfirst li
    {
        list-style-type: none;
        color: #959592;
        text-transform: uppercase;
        font-size: 14px;
        width: 33.33%;
        float: right;
        position: relative;
        text-align: center;
    }

        #progressbarfirst li:before
        {
            content: counter(step);
            counter-increment: step;
            line-height: 49px;
            display: block;
            font-size: 21px;
            color: #132c45;
            background-color: #fff;
            border: 2px solid #132c45;
            border-radius: 50%;
            margin: 9% auto 6px auto;
            width: 55px;
            height: 55px;
            position: relative;
            z-index: 9;
        }

        #progressbarfirst li.active:before
        {
            color: #132c45;
            background-color: #dfe1e1;
            border: none;
        }


        #progressbarfirst li:after
        {
            content: '';
            width: 100%;
            height: 2px;
            background: #EEEEEE;
            position: absolute;
            right: 4%;
            top: 44px;
            z-index: 0;
        }





#progressbarsecond
{
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

    #progressbarsecond li
    {
        list-style-type: none;
        color: #959592;
        text-transform: uppercase;
        font-size: 14px;
        width: 33.33%;
        float: right;
        position: relative;
        text-align: center;
    }

        #progressbarsecond li:before
        {
            content: counter(step);
            counter-increment: step;
            line-height: 49px;
            display: block;
            font-size: 21px;
            color: #2d2d2d;
            background-color: #F6F6F6;
            border: 2px solid rgb(202, 54, 101);
            border-radius: 50%;
            margin: 9% auto 6px auto;
            width: 55px;
            height: 55px;
            position: relative;
            z-index: 9;
        }

        #progressbarsecond li.active:before
        {
            color: #fff;
            background-color: rgb(202, 54, 101);
        }


        #progressbarsecond li:after
        {
            content: '';
            width: 100%;
            height: 2px;
            background: #EEEEEE;
            position: absolute;
            right: -10%;
            top: 57px;
            z-index: 0;
        }
