#choose-category
{
    background-image: url('/content/images/quickorder.png');
}

.category
{
    background-repeat: no-repeat;
    background-position: 74% 6%;
    background-size: 12%;
    padding-bottom: 8rem;
}

    .category h2
    {
        font-size: 6rem;
    }

#levels
{
    font-size: 2rem;
}

.category .category-list
{
    list-style: none;
    margin-top: 3rem;
}

    .category .category-list li
    {
        display: inline-block;
    }


        .category .category-list li a
        {
            display: inline-block;
            font-size: 1.7rem;
        }


        .category .category-list li:not(:last-child):after
        {
            content: "|";
        }


.category ul:not(#progressbarfirst)
{
    list-style: none;
    margin-top: 3rem;
    padding: 0;
}

.category ul li
{
    display: inline-block;
}


    .category ul li a
    {
        display: inline-block;
        font-size: 1.5rem;
    }


    .category ul li:not(:first-child):before
    {
        content: " ,";
    }



.box-cat
{
    margin-top: 5rem;
    padding: 0 1.5rem 0 1.5rem;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 13rem;
}

    .box-cat h3
    {
        margin-right: 2.5rem;
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    .box-cat a
    {
        text-decoration: none;
    }

        .box-cat a:hover
        {
            color: #dfe1e1;
        }

/*#plumber
{
    background: url('/content/images/category/plumbers.png') no-repeat;
    background-size: contain;
}


#electric
{
    background: url('/content/images/category/electric.png') no-repeat;
    background-size: contain;
}


#lock
{
    background: url('/content/images/category/lock.png') no-repeat;
    background-size: contain;
}


#ants
{
    background: url('/content/images/category/ants.png') no-repeat;
    background-size: contain;
}


#sun
{
    background: url('/content/images/category/sun.png') no-repeat;
    background-size: contain;
}


#computer
{
    background: url('/content/images/category/computer.png') no-repeat;
    background-size: contain;
}


#air
{
    background: url('/content/images/category/air.png') no-repeat;
    background-size: contain;
}

#laundry
{
    background: url('/content/images/category/laundry.png') no-repeat;
    background-size: contain;
}

#oven
{
    background: url('/content/images/category/oven.png') no-repeat;
    background-size: contain;
}

#gas
{
    background: url('/content/images/category/gas.png') no-repeat;
    background-size: contain;
}

#refrigirator
{
    background: url('/content/images/category/refrigirator.png') no-repeat;
    background-size: contain;
}

#wash
{
    background: url('/content/images/category/wash.png') no-repeat;
    background-size: contain;
}*/



