#handyman-page #search-home
{
    opacity: 0;
}

    #handyman-page #search-home.affix
    {
        opacity: 1 !important;
    }


.profile
{
        margin-top: 3rem !important;
}


.profileImg
{
    width: 81%;
    margin-top: 1rem;
    border: 5px solid #fff;
    height: 19rem;
}


.professional
{
    content: "";
    background-image: url('/content/images/profesionalIcon.png');
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
    background-repeat: no-repeat;
    background-size: 92%;
    margin-top: 1rem;
    vertical-align: middle;
}

.location
{
    content: "";
    background-image: url('/content/images/location.png');
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    margin-left: 2rem;
    background-size: 60%;
    margin-top: 1rem;
    vertical-align: middle;
    background-position-x: 50%;
}




#about p
{
    line-height: 30px;
}

#review img
{
    margin-left: 1rem;
    margin-bottom: 1rem;

}

.review
{
    margin-bottom: 5rem;
}

    .review img
    {
            width: 20%;
    margin-left: 2rem;
    }

.price
{
    padding: 1.5rem;
    margin: 0;
}





.vendor-details
{
    border-bottom: 1px solid #EAEAEA;
    height: 8rem;
    margin-bottom: 8rem;
}




    .vendor-details h3
    {
        border-left: 1px solid #EAEAEA;
        padding: 1.5rem 0;
        text-align: center;
        margin: 1.5rem 0;
    }

        .vendor-details h3.font-bold
        {
            border-left:none !important;
        }

    .vendor-details > .container > div[class*="col-"]
    {
        padding: 0;
    }

.phone
{
    background-color: #E6E6E6;
    color: #5D98C0;
}

.ratingstars
{
    margin-top: -2.5rem;
}


.profile, .profile .container-80, .profile .hours, .profile .days
{
    padding:0;
    margin:0;
}


    .profile h4
    {
            background-color: #f37321;
    padding: 1rem;
    color: #fff;
    }

.table-pricing
{
    margin-bottom:5rem;
    padding:0;
}

    .table-pricing .price
    {
        border-bottom: 1px dashed #000;

    }

        .table-pricing .price:first-child
    {
        border-top: 1px dashed #000;

    }

        .table-pricing .price:hover
        {
            background-color:rgba(245, 245, 245, 0.58);
        }