
<div id="trigger-start"></div>
<section class="row" id="steps">
    <div class="show-content">
        <div class="container-80">
            <div class="row">
                <div class="col-xs-12 col-lg-5 col-md-5 col-sm-5">
                    <h2 class="color-blue font-bold">איך זה עובד?</h2>
                    <ul class="numbers">
                        <li class="show-item">
                            <h3>
                                <span>1</span>
                                בחירת מסלול
                            </h3>
                            <p>
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט
                            </p>
                        </li>

                        <li class="show-item">
                            <h3>
                                <span>2</span>
                                מה התקלה או השירות?
                            </h3>
                            <p>
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט
                            </p>
                        </li>

                        <li class="show-item">
                            <h3>
                                <span>3</span>
                                מחיר ידוע מראש
                            </h3>
                            <p>
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט
                            </p>
                        </li>

                        <li class="show-item">
                            <h3>
                                <span>4</span>
                                ביצוע הזמנה
                            </h3>
                            <p>
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 col-lg-7 col-md-7 col-sm-7 images-scene">
                    <img src="content/images/iphonesix1.png" />
                    <img src="content/images/iphonesix2.png" />
                    <img src="content/images/iphonesix3.png" />
                    <img src="content/images/iphonesix4.png" />
                </div>

            </div>
        </div>
    </div>

</section>

<section class="row" id="steps-mobile">
    <div class="show-content">
        <div class="container-80">
            <div class="row">
                <div class="col-xs-12 col-lg-5 col-md-5 col-sm-5">
                    <h2 class="color-blue font-bold">איך זה עובד?</h2>
                    <ul class="numbers">
                        <li class="show-item">
                            <h3>
                                <span>1</span>
                                בחירת מסלול
                            </h3>
                            <p>
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט
                            </p>
                        </li>

                        <li class="show-item">
                            <h3>
                                <span>2</span>
                                מה התקלה או השירות?
                            </h3>
                            <p>
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט
                            </p>
                        </li>

                        <li class="show-item">
                            <h3>
                                <span>3</span>
                                מחיר ידוע מראש
                            </h3>
                            <p>
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט
                            </p>
                        </li>

                        <li class="show-item">
                            <h3>
                                <span>4</span>
                                ביצוע הזמנה
                            </h3>
                            <p>
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>