

.logo
{
    width: 15rem;
}


.navbar
{
    min-height: 40px;
    margin-top: 2rem;
}



#navbar a
{
    color: #fff;
}


.black-opacity
{
    background-color: rgba(0,0,0,0.5);
}

.white-opacity
{
    background-color: rgba(255, 255, 255, 0.25);
}



.signInBTN, .join
{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 2px;
}


    .signInBTN:hover, .join:hover
    {
        background: #fff;
        color: #000;
    }



.login-buttons
{
    margin-top: 6rem;
    padding: 0;
}

    .login-buttons button:not(:first-child)
    {
        margin-right: 2rem;
    }




.social button
{
    border: none;
    box-shadow: none;
    padding: 0;
    width: 14%;
    background: transparent;
    float: left;
}

    .social button img
    {
        width: 100%;
        padding: 1rem;
    }
