

.logo
{
    width: 14rem;
    margin-top: -5rem;
    padding: 1rem;
}


.navbar
{
    min-height: 40px;
    margin: 0;
}



#navbar a
{
    color: #000;
}

.nav > li > a
{
    padding: 15px 10px !important;
    color: #000;
    z-index: 9;
}

    .nav > li > a:focus, .nav > li > a:hover
    {
        background-color: rgba(238, 238, 238, 0.28);
    }

.black-opacity
{
    background-color: rgba(0,0,0,0.5);
}

.white-opacity
{
    background-color: rgba(255, 255, 255, 0.44);
    margin: 0;
}

.brown-opacity
{
    background-color: rgba(255, 194, 119, 0.5);
}



.signInBTN
{
    background: transparent;
    border: 1px solid #f3753a;
    color: #000;
    border-radius: 2px;
}


    .signInBTN:hover
    {
        background: #f3753a;
        color: #fff;
    }



.login-buttons
{
    padding: 15px 10px 0 0 !important;
    text-align: left;
}

    .login-buttons button:not(:first-child)
    {
        margin-right: 2rem;
    }


.social
{
    padding:0;
}

.social button
{
    border: none;
    box-shadow: none;
    padding: 0;
    width: 16.5%;
    background: transparent;
    float: left;
    margin-top: 0.5rem;
}

    .social button img
    {
        width: 100%;
        padding: 0.5rem;
    }


.menuBg
{
    background-color: #fff;
}

.grayBG
{
    background-color: #f5f5f5;
}

.quickMenu
{
    margin-top:1.5rem;
}

    .quickMenu p
    {
        margin-left: 0.5rem;
    }

    .quickMenu img
    {
        width: 2.5rem;
        margin-left: 0.5rem;
    }

.quicknav
{
    padding:0;
}

.navbar-nav
{
    position: relative;
    right: 19rem;
}
