<div class="grayBG">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="main-menu" class="collapse navbar-collapse">
                <div class="row ">

                    <ul class="nav navbar-nav">
                        <li><a ui-sref="website.solution">הפתרון שלנו</a></li>
                        <li><a ui-sref="website.home.category">הזמן בעל מקצוע</a></li>
                        <li><a ui-sref="website.steps">איך זה עובד</a></li>
                        <li><a ui-sref="website.why">מדוע זה כדאי לי</a></li>
                        <li><a ui-sref="website.services">שירותי אב הבית</a></li>
                        <li><a ui-sref="website.application">אפליקציית אב הבית</a></li>
                        <li><a ui-sref="website.contactUs">צור קשר</a></li>
                    </ul>

                    <div class="col-xs-3 login-buttons float-left">
                        <nav>
                            <button type="button" class="signInBTN" ng-click="login()" data-target="#sign-in" ng-show="!models.showWelcome">התחברות</button>
                            <button type="button" class="signInBTN" ng-click="register()" data-target="#register" ng-show="!models.showWelcome">הרשמה</button>
                            <span class="color-white" ng-show="models.showWelcome" ng-click="navigate('website.user', {id:models.user.Id})">שלום {{models.user.FullName}} | פרופיל</span>
                            <button type="button" class="join" ng-show="models.showWelcome" ng-click="logout()">התנתק</button>
                        </nav>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>

<div class="menuBg">


    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-lg-2 col-md-2 col-sm-2">
                <a class="navbar-brand" href="/">
                    <img class="logo grayBG" src="content/images/logo.png" />
                </a>
            </div>

            <div class="col-xs-12 col-lg-10 col-md-10 col-sm-10 quicknav">
                <div class="col-xs-3 quickMenu">
                    <img class="float-right" src="/content/images/clockBlue.png" />
                    <p class="float-right font-bold">
                        אב הבית
                    </p>
                    <span class="float-right color-orange font-bold">אקספרס</span>
                </div>
                <div class="col-xs-3 quickMenu">
                    <img class="float-right" src="/content/images/raringBlue.png" />
                    <p class="float-right font-bold">
                        אב הבית
                    </p>
                    <span class="float-right color-orange font-bold">דירוגים</span>
                </div>
                <div class="col-xs-3 quickMenu">
                    <img class="float-right" src="/content/images/pricetag.png" />
                    <p class="float-right font-bold">
                        אב הבית
                    </p>
                    <span class="float-right color-orange font-bold">הצעות מחיר</span>
                </div>

                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 text-left navbar social" id="navbar">
                    <button type="button"><img src="/content/images/facebook.png" /></button>
                    <button type="button"><img src="/content/images/google.png" /></button>
                    <button type="button"><img src="/content/images/youtube.png" /></button>
                </div>
            </div>
        </div>

    </div>

</div>
