

<div class="container desktop-menu">
    <div class="row">
        <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3">
            <a class="navbar-brand" href="/">
                <img class="logo" src="content/images/logo.png" />
            </a>
        </div>
        <div class="col-xs-9 col-lg-9 col-md-9 col-sm-9 text-left login-buttons">

            <button type="button" class="signInBTN" ng-click="login()" data-target="#sign-in">התחברות</button>
            <button type="button" class="signInBTN" ng-click="register()" data-target="#register">הרשמה</button>
            <button type="button" class="join">בעל מקצוע הצטרף אלינו</button>

        </div>
    </div>
    <div class="row">


        <nav class="navbar black-opacity" id="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <div class="col-xs-8">
                            <ul class="nav navbar-nav">
                                <li><a href="/#problem-solution">הפתרון שלנו</a></li>
                                <li><a href="/#how">איך זה עובד</a></li>
                                <li><a href="/#why">מדוע זה כדאי לי</a></li>
                                <li><a href="/#services">שירותי אב הבית</a></li>
                                <li><a href="/#application">אפליקציית אב הבית</a></li>
                                <li><a href="/#contactus">צור קשר</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4 social ">
                            <button type="button"><img src="/content/images/facebook.png" /></button>
                            <button type="button"><img src="/content/images/google.png" /></button>
                            <button type="button"><img src="/content/images/youtube.png" /></button>

                            <div class="col-xs-2">
                              
                            </div>
                            <div class="col-xs-2">
                               
                            </div>
                            <div class="col-xs-2">
                               
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </nav>
    </div>
</div>

