.main-img
{
    height: 51rem;
}

    .main-img h1
    {
        font-size: 2rem;
        margin-top: 4.5rem;
        line-height: 45px;
        margin-right: 5rem;
        color: #fff;
        padding: 0.5rem;
    }

        .main-img h1 span
        {
            display: block;
        }

            .main-img h1 span:nth-child(1)
            {
   
                margin-bottom:1rem;
            }

            .main-img h1 span:nth-child(2)
            {
                margin-right: 4rem;
               
                 margin-bottom:1rem;
            }

                        .main-img h1 span:nth-child(3)
            {
                margin-right: 8rem;
    
            }

    .main-img .features
    {
        margin-top: 4rem;
        padding: 0;
    }

        .main-img .features li
        {
            display: inline-block;
            padding: 1rem 6rem;
        }

            .main-img .features li:first-child
            {
                padding: 1rem 0 1rem 6rem;
            }

            .main-img .features li a
            {
                color: #fff;
                text-decoration: none;
            }

            .main-img .features li:not(:last-child)
            {
                border-left: 1px solid #fff;
                height: 8rem;
            }

            .main-img .features li img
            {
                margin-bottom: 3rem;
                width: 6rem;
            }

.features p
{
    font-size: 16px;
    color: #000;
}



.steps-row
{
    margin-top: 10.5rem !important;
}

#process
{
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

    #process li
    {
        list-style-type: none;
        color: #000;
        text-transform: uppercase;
        font-size: 15px;
        width: 33.33%;
        float: right;
        position: relative;
        text-align: right;
        font-weight: bold;
    }

        #process li:before
        {
            content: counter(step);
            counter-increment: step;
            line-height: 49px;
            display: inline-block;
            font-size: 21px;
            color: #fff;
            -moz-border-radius: 31px;
            -webkit-border-radius: 31px;
            border-radius: 31px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #ff681f;
            border: 2px solid #fff;
            border-radius: 50%;
            margin: 0 2rem auto 4rem;
            width: 55px;
            height: 54px;
            position: relative;
            z-index: 9;
            top: 1.5rem;
            text-align: center;
        }

        #process li.active:before
        {
            color: #ff681f;
            background-color: #fff;
            border: 2px solid #ff681f;
        }

        #process li small
        {
            display: inline-block;
            text-indent: 11.8rem;
            position: relative;
            top: -1rem;
            font-weight: normal;
        }

.services-row
{
    margin-top: 21.8rem !important;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.87);
}

    .services-row img
    {
        width: 4rem;
        margin-left: 0.5rem;
    }

    .services-row p
    {
        margin: 0;
    }
