<section class="row main-img no-bg">
    <div class="col-xs-12">
        <div class="col-xs-12 col-lg-8 col-md-10 col-sm-10">

            <h1 class="color-white text-center">בחר בעל מקצוע, <br />מחיר ידוע מראש</h1>

            <ul class="buttons center-block text-center">
                <li>
                    <a class="color-white" ui-sref="website.category.main">
                        <span class="text-right">
                            עד 120 דקות<br />
                            בעל המקצוע אצלך
                        </span>

                    </a>
                </li>
                <li>
                    <a class="color-white" ui-sref="website.ratingCategory">
                        <span class="text-right">
                            אלפי דירוגים על<br>
                            בעלי המקצוע שבאתר
                        </span>

                    </a>
                </li>
            </ul>
        </div>




    </div>


</section>