.main-img {
    height: 51rem;
}

    .main-img h1 {
        font-size: 3.7rem;
        margin-top: 3rem;
        line-height: 87px;
    }

    .main-img .features {
        margin-top: 4rem;
        padding: 0;
    }

        .main-img .features li {
            display: inline-block;
            padding: 1rem 6rem;
        }

            .main-img .features li:first-child {
                padding: 1rem 0 1rem 6rem;
            }

            .main-img .features li a {
                color: #fff;
            }

            .main-img .features li:not(:last-child) {
                border-left: 1px solid #1a353f;
                height: 8rem;
            }

            .main-img .features li img {
                margin-bottom: 3rem;
            }



.steps-row
{
        margin-top:6rem;
}

#process {
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;

}

    #process li {
        list-style-type: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        width: 33.33%;
        float: right;
        position: relative;
        text-align: right;
        font-weight: bold;
    }

        #process li:before {
            content: counter(step);
            counter-increment: step;
            line-height: 49px;
            display: inline-block;
            font-size: 21px;
            color: #fff;
            -moz-border-radius: 31px;
            -webkit-border-radius: 31px;
            border-radius: 31px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #ff681f;
            border: 2px solid #fff;
            border-radius: 50%;
            margin: 0 2rem auto 4rem;
            width: 55px;
            height: 54px;
            position: relative;
            z-index: 9;
            top: 1.5rem;
            text-align: center;
        }

        #process li.active:before {
            color: #ff681f;
            background-color: #fff;
            border: 2px solid #ff681f;
        }

        #process li small {
            display: inline-block;
            text-indent: 11.8rem;
            position: relative;
            top: -1rem;
            font-weight: normal;
        }
