<section class="row main-img no-bg">

    <div class="container">
        <div class="col-xs-8">
            <h1 class="font-bold">
                <span>
                    דואגים לבעלי מקצוע אמינים ומקצועיים
                </span>

                <span>
                    שיגיעו אליך בזמן ובמחיר ידוע מראש
                </span>

                <span>
                    הכל בפיקוח ובאחריות לפי הדירוגים
                    וההמלצות שלכם
                </span>

            </h1>

        </div>

    </div>





    <div class="col-xs-12 services-row">

        <div class="container">
            <div class="col-xs-2">
                <img class="float-right" src="/content/images/officeIcon2.png" />
                <p class="float-right">
                    אב הבית
                </p><br />
                <span class="float-right color-orange font-bold">למשרדים ועסקים</span>
            </div>

            <div class="col-xs-2">
                <img class="float-right" src="/content/images/homeicon.png" />
                <p class="float-right">
                    אב הבית
                </p><br />
                <span class="float-right color-orange font-bold">פרטי</span>
            </div>

            <div class="col-xs-2">
                <img class="float-right" src="/content/images/rentingicon.png" />
                <p class="float-right">
                    אב הבית
                </p><br />
                <span class="color-orange font-bold">למשכירי דירות</span>
            </div>

            <div class="col-xs-2">
                <img class="float-right" src="/content/images/renovationicon.png" />
                <p class="float-right">
                    אב הבית
                </p><br />
                <span class="color-orange font-bold"> שיפוצים</span>
            </div>

            <div class="col-xs-2">
                <img class="float-right" src="/content/images/baiticon.png" />
                <p class="float-right">
                    אב הבית
                </p><br />
                <span class="color-orange font-bold">
                    לוועדי בתים
                </span>
            </div>

            <div class="col-xs-2">
                <img class="float-right" src="/content/images/gravestone.png" />
                <p class="float-right">
                    אב הבית
                </p><br />
                <span class="color-orange font-bold">
                    לשימור מצבות
                </span>
            </div>
        </div>
    </div>
</section>







