<section class="row main-img no-bg">
    <div class="container">
        <div class="col-xs-12">

            <h1 class="color-white">מהפכת הצרכנות בשוק בעלי המקצוע</h1>
            <ul class="features">
                <li class="text-center">
                    <a href="" rel="nofollow">
                        <img src="content/images/clock.png" />
                        <p>
                            120 דקות<br />ובעל המקצוע אצלך
                        </p>
                    </a>
                </li>
                <li class="text-center">
                    <a href="" rel="nofollow">
                        <img src="content/images/ratingIcon.png" />
                        <p>אלפי דירוגים<br />וחוות דעת</p>
                    </a>
                </li>
                <li class="text-center">
                    <img src="content/images/creditIcon.png" />
                    <p>מחיר ידוע מראש<br />שלושה תשלומים ללא ריבית בכרטיס אשראי</p>
                </li>
            </ul>
        </div>
      
    </div>
    <div class="col-xs-12 white-opacity steps-row">
        <div class="container">
            <ul id="process">
                <li ng-class="{'active':$parent.steps.firstStep}">
                    מה התקלה או השירות
                    <small>בחר את סוג בעל המקצוע</small>
                </li>
                <li ng-class="{'active':$parent.steps.secondStep}">
                    בחר מסלול
                    <small>הנוח ביותר עבורך</small>
                </li>
                <li ng-class="{'active':$parent.steps.lastStep}">
                    ביצוע הזמנה
                    <small>מגוון אפשרויות תשלום</small>
                </li>
            </ul>
        </div>
      
    </div>
</section>