
<section class="row page-banner no-bg">
    <div class="container">
        <ul class="features">
            <li class="text-center">
                <a href="" rel="nofollow">
                    <img src="content/images/clock.png" />
                    <p>
                        120 דקות<br />ובעל המקצוע אצלך
                    </p>
                </a>
            </li>
            <li class="text-center">
                <a href="" rel="nofollow">
                    <img src="content/images/ratingIcon.png" />
                    <p>אלפי דירוגים<br />וחוות דעת</p>
                </a>
            </li>
            <li class="text-center">
                <img src="content/images/creditIcon.png" />
                <p>מחיר ידוע מראש<br />שלושה תשלומים ללא ריבית בכרטיס אשראי</p>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 brown-opacity text-center">
      <div class="container">
          <div class="col-xs-8">
              <h2>נשלח אליך בעל מקצוע תוך 120 דקות או בזמן שנוח לך מחיר ידוע מראש יש לך 100% אחריות</h2>
          </div>
         <div class="col-xs-4">
             <button class="float-right">הזמנה מהירה</button>
         </div>
       
      </div>
         
    </div>
</section>