
<section class="row page-banner no-bg">

    <div class="col-xs-12">
        <div class="col-xs-10 col-lg-8 col-md-10 col-sm-10 text-center">
            <ul class="features">
                <li class="color-white">
                    <a ui-sref="website.category">
                        <img src="content/images/clock.png" />
                        <p>
                            120 דקות<br />ובעל המקצוע אצלך
                        </p>
                    </a>
                </li>
                <li class="color-white">
                    <a href="rating-category.html">
                        <img src="content/images/ratingIcon.png" />
                        <p>אלפי דירוגים<br />וחוות דעת</p>
                    </a>
                </li>
                <li class="color-white">
                    <img src="content/images/creditIcon.png" />
                    <p>מחיר ידוע מראש<br />שלושה תשלומים ללא ריבית<br />בכרטיס אשראי</p>
                </li>
            </ul>



        </div>
    </div>
</section>