
#problem-solution
{
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: bottom;
}

.problem
{
    margin-top: 3rem;
}

    .problem h2
    {
        font-size: 19rem;
        color: #e6e6e6;
    }

    .problem p
    {
        font-size: 3rem;
        line-height: 7rem;
        margin-top: 15rem;
    }


#solution
{
    background: url('/content/images/solutionBG.png') no-repeat;

}



    .solution h2
    {

        font-size: 20rem;


    }

#scroll
{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
