<section class="row" id="problem-solution">
    <div class="problem container-80">
        <div class="row">
            <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                <h2 class="font-bold text-center">נמאס לך</h2>
            </div>
            <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                <p>
                   שבעלי מקצוע לא מגיעים בזמן 
                   וגובים מחיר מופרז
                </p>
            </div>
        </div>
        <div id="scroll" class="row center-block text-center animated infinite bounce">
            <span>הפתרון</span><br />
            <img src="content/images/scroll.png" />
        </div>
    </div>

    <section id="solution">
        <div class="solution container-80">
            <div class="row">
                <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
                    <h3 class="color-blue">חוסכים לך דאגות</h3>
                    <h4 class="color-orange">גיוס בעלי מקצוע מעולים</h4>
                    <p>מתקבלים רק בעלי מקצוע שעברו סינון קפדני ושקיבלו מכם המלצה </p>
                    <p>בודקים הסמכה (באם יש צורך) וותק</p>
                    <p>
                        מחתימים את בעל המקצוע על הסכם משפטי בו הוא
                        מתחייב לתת 100% אחריות על העבודה ולעמוד בלוח
                        הזמנים בקבע
                    </p>
                    <p>מקבלים משוב ודירוג על כל עבודה שעושה בעל המקצוע</p>
                    <p>בעל המקצוע שציונו הממוצע יורד מ-8 יוצא מהאתר</p>
                </div>

                <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
                    <h3 class="color-blue">פיקוח על המחיר</h3>
                    <h4 class="color-orange">מחיר ידוע מראש</h4>
                    <p>
                        על כל תקלה או שירות שתרצו יש במערכת מחיר. אתם תדעו לפני הזמנת בעל מקצוע כמה זה יעלה לכם.
                        במידה ואין אפשרות לדעת מחיר (בשל סיבות מיוחדות ותקלות שונות) יגיע בעל המקצוע בעלות דמי ביקור
                        בלבד ויסביר לכם את מהות התקלה
                    </p>
                </div>

                <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
                    <h3 class="color-blue">פיקוח על זמנים</h3>
                    <h4 class="color-orange">120 דקות ובעל המקצוע אצלך</h4>
                    <p>
                        לבעלי המקצוע יש אפליקציה מבוססת מיקום, בה אתם ואנחנו יכולים לראות היכן נמצא בעל המקצוע
                        ולשלוח אליכם בעל מקצוע שדירוגו 8 ומעלה עד 120 דק הכי מאוחר
                    </p>
                </div>

                <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
                    <h3 class="color-blue">נוחות בתשלום</h3>
                    <h4 class="color-orange">מגון אפשרויות תשלום</h4>
                    <p>
                        אפשרות לעד 3 תשלומים בכרטיס אשראי
                    </p>
                </div>
                <div class="col-xs-12 text-left">
                    <h2 class="font-bold color-white">הפתרון</h2>
                </div>
            </div>
            

        </div>
    </section>

</section>