
.categories-list {
    margin-top:4rem;
}

.category-holder {
    display: inline-block;
    width: 20%;
    margin-bottom: 7rem;
}

    .category-holder img, .category-holder p {
        display: inline-block;
    }

    .category-holder p {
        margin-right: 1rem;
    }

