
.rating-sub-category .results, .member
{
    padding: 0;
}






.rating-sub-category .sub-title
{
    margin-bottom: 5rem;
}

.rating-sub-category h1
{
    display: inline-block;
    margin-right: 2rem;
}

.rating-sub-category .title
{
    margin-bottom: 5rem;
    background-color: #f9f9f9;
    height: 8rem;
}


.rating-sub-category .category-list
{
    list-style: none;
    margin-top: 3rem;
}

    .rating-sub-category .category-list li
    {
        display: inline-block;
    }


        .rating-sub-category .category-list li a
        {
            display: inline-block;
            font-size: 1.7rem;
        }


        .rating-sub-category .category-list li:not(:last-child):after
        {
            content: "|";
        }


.rating-sub-category ul
{
    list-style: none;
    margin-top: 3rem;
    padding: 0;
}

    .rating-sub-category ul li
    {
        border-bottom: 1px solid #F5F5F5;
        padding: 1rem;
    }


        .rating-sub-category ul li a
        {
            font-size: 1.5rem;
            line-height: 30px;
        }

.problem-types
{
    direction: rtl;
}

    .problem-types h3
    {
        padding: 1rem;
        color: #fff;
    }

    .problem-types div[class*="col-"]:nth-child(1) h3
    {
        background-color: #2C4B6A;
    }

    .problem-types div[class*="col-"]:nth-child(2) h3
    {
        background-color: #376698;
    }

    .problem-types div[class*="col-"]:nth-child(3) h3
    {
        background-color: #6295CC;
    }

    .problem-types div[class*="col-"]:nth-child(4) h3
    {
        background-color: #76A8CD;
    }

    .problem-types div[class*="col-"]:nth-child(5) h3
    {
        background-color: #AAC2D4;
    }




.side-bar
{
    -moz-border-radius: 8px / 10px;
    -webkit-border-radius: 8px / 10px;
    border-radius: 8px / 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #2b9ac7;
    color: #2b9ac7;
    outline: none;
    box-shadow: none;
}


    .side-bar h3
    {
        color: #2b9ac7;
        font-family: OpenSansHebrew-Bold;
    }


    .side-bar ul
    {
        list-style: none !important;
    }


        .side-bar ul li
        {
            line-height: 20px;
        }


            .side-bar ul li:hover, .side-bar ul li.active
            {
                background-color: #2b9ac7;
                color: #fff;
            }



    .side-bar i.search
    {
        position: absolute;
        left: 5rem;
        top: 34.7rem;
    }



    .member .thumbnail
    {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #eeeeee;
        height: 11rem;
        padding: 0;
    }

        .member .thumbnail > div:not(:last-child)
        {
            border-left: 1px solid #fff;
            height:60%;
            margin-top:1.7rem;
        }

.thumbnail label
{
    font-size:13px;
}

.thumbnail .img-name h3
{
    margin-top:3rem;
}

.thumbnail .img-name img
{
    width: 22%;
    margin-left: 2rem;
    margin-top: 0rem;
}

.thumbnail .content-rating
{
    margin-top:0.7rem;
}

.thumbnail .place
{
    margin-top: 3rem;
}

.thumbnail .rating p
{
    margin-bottom: 1.6rem;
}


.thumbnail .time img
{
    width: 42%;
    margin: 1rem 1.4rem 0;
    display: block;
}

.thumbnail .phone img
{
    margin: 0.8rem 6.5rem 0;
    display: block;
    width: 15%;
}


.vertical-btn
{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #ff681f;
    vertical-align: middle;
    padding-top: 4rem;
}




    .vertical-btn a
    {
        color: #fff;
        vertical-align: middle;
    }

        .vertical-btn a:hover
        {
            text-decoration: none;
            color: #000;
        }
