<small-banner></small-banner>

<section class="row" id="sub-category">
    <section class="row rating-sub-category" id="rating-sub-category">
        <div class="row title">
            <div class="container">
                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3">
                    <img src="/content/images/category/plumbers.png" />
                    <h1 class="font-bold color-blue">אינסטלציה</h1>
                </div>
                <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4 text-center">
                    <h2 class="text-right sub-title">בעלי מקצוע עם הדירוג הכי גבוה</h2>
                </div>
                <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4 float-left">
                    <location-search></location-search>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 results" ng-repeat="business in models.businessList track by $index">
                    <div class="member col-xs-12" data-category="פתיחת סתימה באסלה,פתיחת סתימה בכיור,נזילה בשירותים" data-location="{{business.Address}}">
                        <div class="thumbnail center-block text-center">
                            <div class="col-xs-1">
                                <p class="color-blue place text-center">מקום {{$index+1}}</p>
                            </div>
                            <div class="col-xs-4 img-name">
                                <img class="float-right" src="content/images/{{business.Image}}" alt="{{business.BusinessName}}">
                                <h3 class="text-right"><a ui-sref="website.business({slug:business.Slug})">{{business.BusinessName}}</a></h3>
                            </div>
                            <div class="col-xs-2">
                                <div class="rating">
                                    <label>דירוג</label>
                                    <h3 class="content-rating">
                                        {{business.Rating}}
                                    </h3>
                                    <span class="stars">
                                        <span class="float-left" ng-style="{ 'width': getStars(business.Rating*1/2) }"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-1 time">
                                <label>
                                    זמינות
                                </label>
                                <img src="/content/images/check.png" ng-show="business.IsAvaliable" />
                            </div>
                            <div class="col-xs-1 price-vendor">
                                <label>
                                    מחיר
                                </label>
                                <h3 class="content-rating">{{business.Price | currency : '₪'}}</h3>
                            </div>
                            <div class="col-xs-2 phone">
                                <label>טלפון</label>
                                <img src="/content/images/phoneicon.png" ng-click="business.showNumber = true" ng-show="!business.showNumber" />
                                <h3 class="content-rating" ng-show="business.showNumber">{{business.MobileNumber}}</h3>
                            </div>

                            <div class="col-xs-1 float-left vertical-btn">
                                <a ui-sref="website.ratingOrder({slug:business.Slug})" role="button">הזמנה</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>