
<section class="row">
    <div class="col-xs-12">
        <form role="form" ng-submit="addBusiness()">
            <div class="col-xs-12">
                <div class="row form-group placeholder-label">
                    <input id="email" type="text" class="form-control" ng-model="models.business.email" required>
                    <label for="email" class="required">אימייל</label>
                </div>
                <div class="row form-group placeholder-label">
                    <input id="pass" type="password" class="form-control" ng-model="models.business.password" required>
                    <label for="pass" class="required">סיסמה</label>
                </div>
                <div class="row form-group placeholder-label">
                    <input id="fullname" type="text" class="form-control" ng-model="models.business.fullName">
                    <label for="fullname" class="">שם מלא</label>
                </div>
                <div class="row form-group placeholder-label">
                    <input id="businessName" type="text" class="form-control" ng-model="models.business.businessName">
                    <label for="businessName" class="">שם העסק</label>
                </div>
                <div class="row form-group placeholder-label">
                    <input id="address" type="text" class="form-control" ng-model="models.business.address">
                    <label for="address" class="">כתובת</label>
                </div>
                <div class="row form-group placeholder-label">
                    <input id="mobile" type="text" class="form-control" ng-model="models.business.mobileNumber">
                    <label for="mobile" class="">נייד</label>
                </div>
                <div class="row form-group placeholder-label">
                    <input id="home" type="text" class="form-control" ng-model="models.business.homeNumber">
                    <label for="home">טלפון נוסף</label>
                </div>
                <div class="row form-group placeholder-label">
                    <input id="dob" type="date" class="form-control" ng-model="models.business.birthday">
                    <label for="dob">תאריך לידה</label>
                </div>
                <div class="col-xs-6">
                    <div class="row form-group">
                        <label for="gender">מגדר</label>
                        <div class="btn-group" role="group" aria-label="gender">
                            <button type="button" class="btn btn-default" ng-class="{'active':models.business.gender == 'M'}" ng-click="models.business.gender = 'M'">זכר</button>
                            <button type="button" class="btn btn-default" ng-class="{'active':models.business.gender == 'F'}" ng-click="models.business.gender = 'F'">נקבה</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row form-group">
                        <label for="gender">מצב משפחתי</label>
                        <div class="btn-group" role="group" aria-label="gender">
                            <button type="button" class="btn btn-default" ng-class="{'active':models.business.familyStatus == 'S'}" ng-click="models.business.familyStatus = 'S'">רווק/ה</button>
                            <button type="button" class="btn btn-default" ng-class="{'active':models.business.familyStatus == 'M'}" ng-click="models.business.familyStatus = 'M'">נשוי/ה</button>
                            <button type="button" class="btn btn-default" ng-class="{'active':models.business.familyStatus == 'D'}" ng-click="models.business.familyStatus = 'D'">גרוש/ה</button>
                            <button type="button" class="btn btn-default" ng-class="{'active':models.business.familyStatus == 'W'}" ng-click="models.business.familyStatus = 'W'">אלמן/ה</button>
                        </div>
                    </div>
                </div>

                <!--ראשון-->
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-open" type="time" class="form-control" ng-model="models.business.sundayStart">
                            <label for="sunday-open" class="">פתיחה יום ראשון</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-close" type="time" class="form-control" ng-model="models.business.sundayEnd">
                            <label for="sunday-close" class="">סגירה יום ראשון</label>
                        </div>
                    </div>
                </div>

                <!--שני-->
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-open" type="time" class="form-control" ng-model="models.business.mondayStart">
                            <label for="sunday-open" class="">פתיחה יום שני</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-close" type="time" class="form-control" ng-model="models.business.mondayEnd">
                            <label for="sunday-close" class="">סגירה יום שני</label>
                        </div>
                    </div>
                </div>

                <!--שלישי-->
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-open" type="time" class="form-control" ng-model="models.business.tuesdayStart">
                            <label for="sunday-open" class="">פתיחה יום שלישי</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-close" type="time" class="form-control" ng-model="models.business.tuesdayEnd">
                            <label for="sunday-close" class="">סגירה יום שלישי</label>
                        </div>
                    </div>
                </div>

                <!--רביעי-->
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-open" type="time" class="form-control" ng-model="models.business.wednesdayStart">
                            <label for="sunday-open" class="">פתיחה יום רביעי</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-close" type="time" class="form-control" ng-model="models.business.wednesdayEnd">
                            <label for="sunday-close" class="">סגירה יום רביעי</label>
                        </div>
                    </div>
                </div>

                <!--חמישי-->
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-open" type="time" class="form-control" ng-model="models.business.thursdayStart">
                            <label for="sunday-open" class="">פתיחה יום חמישי</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-close" type="time" class="form-control" ng-model="models.business.thursdayEnd">
                            <label for="sunday-close" class="">סגירה יום חמישי</label>
                        </div>
                    </div>
                </div>

                <!--שישי-->
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-open" type="time" class="form-control" ng-model="models.business.fridayStart">
                            <label for="sunday-open" class="">פתיחה יום שישי</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-close" type="time" class="form-control" ng-model="models.business.fridayEnd">
                            <label for="sunday-close" class="">סגירה יום שישי</label>
                        </div>
                    </div>
                </div>

                <!--שבת-->
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-open" type="time" class="form-control" ng-model="models.business.saturdayStart">
                            <label for="sunday-open" class="">פתיחה יום שבת</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-10">
                        <div class="row form-group placeholder-label">
                            <input id="sunday-close" type="time" class="form-control" ng-model="models.business.saturdayEnd">
                            <label for="sunday-close" class="">סגירה יום שבת</label>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-xs-2 float-left text-left">
                <button type="submit" class="btn save" role="button">שמור</button>
            </div>

        </form>
    </div>
</section>






