<section class="row" id="services">
    <div class="container-80">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="text-center color-blue">שירותי אב הבית</h2>
            </div>
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 center-block">
                <div class="col-xs-12 col-lg-2 col-md-2 col-sm-2 text-center">
                    <a ui-sref="website.office">
                        <img src="content/images/officeIcon.png" />
                    </a>
                    <p></p>
                </div>

                <div class="col-xs-12 col-lg-2 col-md-2 col-sm-2 text-center">
                    <a ui-sref="website.private">
                        <img src="content/images/privateHomeIcon.png" />
                    </a>
                </div>

                <div class="col-xs-12 col-lg-2 col-md-2 col-sm-2 text-center">
                    <img src="content/images/departmentIcon.png" />
                </div>

                <div class="col-xs-12 col-lg-2 col-md-2 col-sm-2 text-center">
                    <img src="content/images/reovationIcon.png" />
                </div>

                <div class="col-xs-12 col-lg-2 col-md-2 col-sm-2 text-center">
                    <img src="content/images/manageDepartmentIcon.png" />
                </div>
            </div>
        </div>
    </div>
</section>