#why
{
    background-image: url('/content/images/why.jpg');
    background-repeat: no-repeat;
    padding-top: 3rem;
    padding-bottom: 22rem;
    background-size: cover;
}

    #why h2
    {
        font-size:30px;
    }

    #why .check
    {
        position: relative;
        top: 2rem;
        left: 2rem;
    }


.reasons
{
    margin-top: 18rem;
}
