<section class="row" id="why">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="text-center color-blue font-bold">מדוע זה כדאי לי</h2>
                <p class="text-center">
                    לורם איפסום הוא כינוי לטקסט חסר משמעות לחלוטין - הנקרא לפעמים גם דמי טקסט או ג'יבריש -
                    ומיועד להיות ממוקם בסקיצות עיצוביות - של עלונים, מגזינים, מודעות, אתרי אינטרנט וכו' - במקום הטקסט האמיתי הסופי - עד שיהיה טקסט אמיתי.<br />
                    אם בשלב הסקיצה העיצובית עדיין לא קיים הטקסט הרלוונטי, לא מומלץ למקם טקסט אמיתי אחר. הסיבה היא, כי בעת הצגת סקיצה עם טקסט אמיתי קריא,<br />
                    יתחיל הצופה לקרוא אוטומטית את הטקסט, ואם תוכן הטקסט לא רלוונטי לעבודה המוצגת - הדבר יסיח את דעתו מהעיצוב.
                </p>
            </div>

            <div class="col-xs-12 col-lg-11 col-md-11 col-sm-11 center-block reasons">

                <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6 text-center">

                    <div class="col-xs-12">
                        <div class="col-xs-1">
                            <img class="check" src="content/images/check.png" />
                        </div>
                        <div class="col-xs-11">
                            <h3 class="color-orange text-right">חוסכים לך דאגות</h3>
                            <p class="color-gray  text-right">
                                לורם איפסום הוא כינוי לטקסט חסר משמעות לחלוטין - הנקרא לפעמים גם דמי טקסט או ג'יבריש - ומיועד להיות ממוקם בסקיצות עיצוביות
                                - של עלונים, מגזינים, מודעות, אתרי אינטרנט וכו' - במקום הטקסט האמיתי הסופי - עד שיהיה טקסט אמיתי.
                            </p>
                        </div>


                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-1">
                            <img class="check" src="content/images/check.png" />
                        </div>

                        <div class="col-xs-11">
                            <h3 class="color-orange text-right">חוסכים לך טרחה</h3>
                            <p class="color-gray  text-right">
                                לורם איפסום הוא כינוי לטקסט חסר משמעות לחלוטין - הנקרא לפעמים גם דמי טקסט או ג'יבריש - ומיועד להיות ממוקם בסקיצות עיצוביות
                                - של עלונים, מגזינים, מודעות, אתרי אינטרנט וכו' - במקום הטקסט האמיתי הסופי - עד שיהיה טקסט אמיתי.
                            </p>
                        </div>


                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-1">
                            <img class="check" src="content/images/check.png" />
                        </div>

                        <div class="col-xs-11">
                            <h3 class="color-orange text-right">חוסכים לך כסף</h3>
                            <p class="color-gray  text-right">
                                לורם איפסום הוא כינוי לטקסט חסר משמעות לחלוטין - הנקרא לפעמים גם דמי טקסט או ג'יבריש - ומיועד להיות ממוקם בסקיצות עיצוביות
                                - של עלונים, מגזינים, מודעות, אתרי אינטרנט וכו' - במקום הטקסט האמיתי הסופי - עד שיהיה טקסט אמיתי.
                            </p>
                        </div>


                    </div>
                </div>

                <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6 text-center">
                    <div class="col-xs-12">
                        <div class="col-xs-1">
                            <img class="check" src="content/images/check.png" />
                        </div>

                        <div class="col-lg-11">
                            <h3 class="color-orange text-right">חוסכים לך זמן</h3>
                            <p class="color-gray  text-right">
                                לורם איפסום הוא כינוי לטקסט חסר משמעות לחלוטין - הנקרא לפעמים גם דמי טקסט או ג'יבריש - ומיועד להיות ממוקם בסקיצות עיצוביות
                                - של עלונים, מגזינים, מודעות, אתרי אינטרנט וכו' - במקום הטקסט האמיתי הסופי - עד שיהיה טקסט אמיתי.
                            </p>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-1">

                            <img class="check" src="content/images/check.png" />
                        </div>

                        <div class="col-lg-11">
                            <h3 class="color-orange text-right">חוסכים לך דילמות</h3>
                            <p class="color-gray  text-right">
                                לורם איפסום הוא כינוי לטקסט חסר משמעות לחלוטין - הנקרא לפעמים גם דמי טקסט או ג'יבריש - ומיועד להיות ממוקם בסקיצות עיצוביות
                                - של עלונים, מגזינים, מודעות, אתרי אינטרנט וכו' - במקום הטקסט האמיתי הסופי - עד שיהיה טקסט אמיתי.
                            </p>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-1">
                            <img class="check" src="content/images/check.png" />
                        </div>

                        <div class="col-lg-11">
                            <h3 class="color-orange text-right">דואגים לך</h3>
                            <p class="color-gray  text-right">
                                לורם איפסום הוא כינוי לטקסט חסר משמעות לחלוטין - הנקרא לפעמים גם דמי טקסט או ג'יבריש - ומיועד להיות ממוקם בסקיצות עיצוביות
                                - של עלונים, מגזינים, מודעות, אתרי אינטרנט וכו' - במקום הטקסט האמיתי הסופי - עד שיהיה טקסט אמיתי.
                            </p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>