
<small-banner></small-banner>


<section class="row" id="user">
    <div class="col-xs-12 user-details">
        <div class="container">
          
            <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 handyman-name border-left">
                <h3 class="text-right">{{models.user.FullName}}</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="container">
            <div class="col-xs-2">
         
                    <img class="userImg" src="content/images/{{models.user.Image}}" />

                <ul class="nav nav-tabs tabs-right">
                    <li class="active"><a class="btn text-right" ng-click="$parent.showTab('#home-p')" data-toggle="tab">פרטים אישיים</a></li>
                    <li><a class="btn text-right" ng-click="$parent.showTab('#login-p')" data-toggle="tab">פרטי התחברות</a></li>
                    <li><a class="btn text-right" ng-click="$parent.showTab('#orders-p')" data-toggle="tab">ההזמנות שלי</a></li>
                    <li><a class="btn text-right" ng-click="$parent.showTab('#comments-p')" data-toggle="tab">חוות דעת</a></li>
                </ul>
            </div>
            <div class="col-xs-9 float-left">
                <div class="tab-content">
                    <div class="tab-pane active" id="home-p">
                        <form role="form">
                            <div class="col-xs-12">
                                <div class="row form-group placeholder-label">
                                    <input id="fullname" type="text" class="form-control" ng-model="models.user.FullName" required>
                                    <label for="fullname" class="required">שם מלא</label>
                                </div>
                                <div class="row form-group placeholder-label">
                                    <input id="address" type="text" class="form-control" ng-model="models.user.Address" required>
                                    <label for="address" class="required">כתובת</label>
                                </div>
                                <div class="row form-group placeholder-label">
                                    <input id="mobile" type="text" class="form-control" ng-model="models.user.MobileNumber" required>
                                    <label for="mobile" class="required">נייד</label>
                                </div>
                                <div class="row form-group placeholder-label">
                                    <input id="home" type="text" class="form-control" ng-model="models.user.HomeNumber">
                                    <label for="home">טלפון נוסף</label>
                                </div>
                                <div class="row form-group placeholder-label">
                                    <input id="dob" type="date" class="form-control" ng-model="models.user.Birthday">
                                    <label for="dob">תאריך לידה</label>
                                </div>
                                <div class="col-xs-6">
                                    <div class="row form-group">
                                        <label for="gender">מגדר</label>
                                        <div class="btn-group" role="group" aria-label="gender">
                                            <button type="button" class="btn btn-default" ng-class="{'active':models.user.Gender == 'M'}" ng-click="models.user.Gender = 'M'">זכר</button>
                                            <button type="button" class="btn btn-default" ng-class="{'active':models.user.Gender == 'F'}" ng-click="models.user.Gender = 'F'">נקבה</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="row form-group">
                                        <label for="gender">מצב משפחתי</label>
                                        <div class="btn-group" role="group" aria-label="gender">
                                            <button type="button" class="btn btn-default" ng-class="{'active':models.user.FamilyStatus == 'S'}" ng-click="models.user.FamilyStatus = 'S'">רווק/ה</button>
                                            <button type="button" class="btn btn-default" ng-class="{'active':models.user.FamilyStatus == 'M'}" ng-click="models.user.FamilyStatus = 'M'">נשוי/ה</button>
                                            <button type="button" class="btn btn-default" ng-class="{'active':models.user.FamilyStatus == 'D'}" ng-click="models.user.FamilyStatus = 'D'">גרוש/ה</button>
                                            <button type="button" class="btn btn-default" ng-class="{'active':models.user.FamilyStatus == 'W'}" ng-click="models.user.FamilyStatus = 'W'">אלמן/ה</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 float-left text-left">
                                <button type="submit" class="btn save" role="button">שמור</button>
                            </div>
                       
                        </form>
                    </div>
                    <div class="tab-pane" id="login-p">
                        <form role="form">
                            <div class="col-xs-12">
                                <div class="row form-group placeholder-label">
                                    <input id="email" type="text" class="form-control" ng-model="models.user.Email" required>
                                    <label for="email" class="required">אימייל</label>
                                </div>
                                <div class="row form-group placeholder-label">
                                    <input id="pass" type="password" class="form-control" ng-model="models.user.Password" required>
                                    <label for="pass" class="required">סיסמה</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="orders-p">
                        <h3>ההזמנות שלי</h3>
                    </div>
                    <div class="tab-pane" id="comments-p">
                        <h3>חוות דעת</h3>
                    </div>
                </div>
            </div>



            <!--<div class="col-xs-12 col-lg-3 col-sm-3 col-md-3 profile">

                <div class="col-md-10">
                    <h4 class="font-bold page-header">תחומי פעילות</h4>
                    <p>אינסטלציה</p>
                    <h4 class="font-bold page-header">כתובת</h4>
                    <p>הירקון 15 פתח תקווה</p>
                    <h4 class="font-bold page-header">שעות פעילות</h4>
                    <div class="col-xs-12 hours">
                        <div class="col-xs-5 col-lg-5 col-md-5 col-sm-5 text-right days">
                            <p>א'-ה'</p>
                            <p>שישי</p>
                            <p>שבת</p>
                        </div>
                        <div class="col-xs-7 col-lg-7 col-md-7 col-sm-7 text-left hours">
                            <p>8:00-18:00</p>
                            <p>8:00-13:00</p>
                            <p>19:00-21:00</p>
                        </div>

                    </div>

                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 table-pricing">

                        <h4 class="font-bold page-header">מחירון</h4>

                        <div class="row">

                            <div class="col-xs-12">
                                <p class="price">
                                    סתימת כיור
                                    <span class="float-left">200₪</span>
                                </p>
                                <p class="price">
                                    סתימת כיור
                                    <span class="float-left">200₪</span>
                                </p>
                                <p class="price">
                                    סתימת כיור
                                    <span class="float-left">200₪</span>
                                </p>
                                <p class="price">
                                    סתימת כיור
                                    <span class="float-left">200₪</span>
                                </p>

                                <p class="price">
                                    סתימת כיור
                                    <span class="float-left">200₪</span>
                                </p>
                                <p class="price">
                                    סתימת כיור
                                    <span class="float-left">200₪</span>
                                </p>
                                <p class="price">
                                    סתימת כיור
                                    <span class="float-left">200₪</span>
                                </p>
                                <p class="price">
                                    סתימת כיור
                                    <span class="float-left">200₪</span>
                                </p>
                            </div>



                        </div>

                    </div>

                </div>


            </div>

            <div class="col-xs-12 col-lg-9 col-sm-9 col-md-9">
                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="page-header">
                        <h3>פרטי העסק</h3>
                    </div>
                    <div class="row">
                        <p>
                            לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו,
                            דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. קולהע צופעט למרקוח איבן איף,
                            ברומץ כלרשט מיחוצים. קלאצי לורם איפסום דולור סיט אמט, הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.
                            זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

                            נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר מודוף.
                            אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי ליבם סולגק.
                            בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.
                        </p>
                    </div>

                </div>

                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="page-header">
                        <h3>חוות דעת<small class="float-left"><i class="fa fa-5x fa-plus-circle"></i> הוסף חוות דעת</small></h3>

                    </div>
                    <div class="row review">
                        <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                                <img class="float-right" src="/content/images/handyman/review-profile.png" />
                                <h4>יוסי לוי</h4>
                            </div>

                            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                                <p>
                                    לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק.
                                    תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה.
                                    לפמעט מוסן מנת. קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי לורם איפסום דולור סיט אמט,

                                </p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                                <img class="float-right" src="/content/images/handyman/review-profile.png" />
                                <h4>יוסי לוי</h4>
                            </div>

                            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                                <p>
                                    לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק.
                                    תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה.
                                    לפמעט מוסן מנת. קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי לורם איפסום דולור סיט אמט,

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row review">
                        <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                                <img class="float-right" src="/content/images/handyman/review-profile.png" />
                                <h4>יוסי לוי</h4>
                            </div>

                            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                                <p>
                                    לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק.
                                    תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה.
                                    לפמעט מוסן מנת. קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי לורם איפסום דולור סיט אמט,

                                </p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                                <img class="float-right" src="/content/images/handyman/review-profile.png" />
                                <h4>יוסי לוי</h4>
                            </div>

                            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                                <p>
                                    לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק.
                                    תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה.
                                    לפמעט מוסן מנת. קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי לורם איפסום דולור סיט אמט,

                                </p>
                            </div>
                        </div>
                    </div>

                </div>




            </div>-->
        </div>
    </div>




</section>

