
<link href="/app/views/website/business/handyman.css" rel="stylesheet" />
<small-banner></small-banner>


<section class="row" id="profile">
    <div class="col-xs-12 vendor-details">
        <div class="container">
            <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3">
                <img class="profileImg" src="content/images/avatar.jpg" />
            </div>
            <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 handyman-name border-left">
                <h3 class="text-right">ענבר עיצוב ואדריכלות</h3>
            </div>
            <div class="col-xs-2 col-lg-2 col-md-2 col-sm-2 pricing border-left">
                <h3 class="text-center">מחיר ₪150</h3>
            </div>
            <div class="col-xs-2 col-lg-2 col-md-2 col-sm-2 vendor-rating border-left">
                <h3 class="text-center font-bold">8.5 <span>מתוך 10</span></h3>
                <img class="ratingstars center-block" src="content/images/ratingStars.png" />

            </div>
            <div class="col-xs-2 col-lg-2 col-md-2 col-sm-2 phone">
                <h3 id="displayNum" data-phone="0545726662">הצג מספר טלפון</h3>
            </div>
        </div>

    </div>
    <div class="container">




        <div class="col-xs-12 col-lg-3 col-sm-3 col-md-3 profile">

            <div class="container-80">
                <h4 class="font-bold page-header">תחומי פעילות</h4>
                <p>אינסטלציה</p>
                <h4 class="font-bold page-header">כתובת</h4>
                <p>הירקון 15 פתח תקווה</p>
                <h4 class="font-bold page-header">שעות פעילות</h4>
                <div class="col-xs-12 hours">
                    <div class="col-xs-5 col-lg-5 col-md-5 col-sm-5 text-right days">
                        <p>א'-ה'</p>
                        <p>שישי</p>
                        <p>שבת</p>
                    </div>
                    <div class="col-xs-7 col-lg-7 col-md-7 col-sm-7 text-left hours">
                        <p>8:00-18:00</p>
                        <p>8:00-13:00</p>
                        <p>19:00-21:00</p>
                    </div>

                </div>

                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 table-pricing">

                    <h4 class="font-bold page-header">מחירון</h4>

                    <div class="row">

                        <div class="col-xs-12">
                            <p class="price">
                                סתימת כיור
                                <span class="float-left">200₪</span>
                            </p>
                            <p class="price">
                                סתימת כיור
                                <span class="float-left">200₪</span>
                            </p>
                            <p class="price">
                                סתימת כיור
                                <span class="float-left">200₪</span>
                            </p>
                            <p class="price">
                                סתימת כיור
                                <span class="float-left">200₪</span>
                            </p>

                            <p class="price">
                                סתימת כיור
                                <span class="float-left">200₪</span>
                            </p>
                            <p class="price">
                                סתימת כיור
                                <span class="float-left">200₪</span>
                            </p>
                            <p class="price">
                                סתימת כיור
                                <span class="float-left">200₪</span>
                            </p>
                            <p class="price">
                                סתימת כיור
                                <span class="float-left">200₪</span>
                            </p>
                        </div>



                    </div>

                </div>

            </div>


        </div>

        <div class="col-xs-12 col-lg-9 col-sm-9 col-md-9 float-left">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                <div class="page-header">
                    <h3>פרטי העסק</h3>
                </div>
                <div class="row">
                    <p>
                        לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו,
                        דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. קולהע צופעט למרקוח איבן איף,
                        ברומץ כלרשט מיחוצים. קלאצי לורם איפסום דולור סיט אמט, הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.
                        זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

                        נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר מודוף.
                        אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי ליבם סולגק.
                        בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.
                    </p>
                </div>

            </div>

            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                <div class="page-header">
                    <h3>חוות דעת<small class="float-left"><i class="fa fa-5x fa-plus-circle"></i> הוסף חוות דעת</small></h3>

                </div>
                <div class="row review">
                    <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <img class="float-right" src="/content/images/handyman/review-profile.png" />
                            <h4>יוסי לוי</h4>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <p>
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק.
                                תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה.
                                לפמעט מוסן מנת. קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי לורם איפסום דולור סיט אמט,

                            </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <img class="float-right" src="/content/images/handyman/review-profile.png" />
                            <h4>יוסי לוי</h4>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <p>
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק.
                                תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה.
                                לפמעט מוסן מנת. קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי לורם איפסום דולור סיט אמט,

                            </p>
                        </div>
                    </div>
                </div>

                <div class="row review">
                    <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <img class="float-right" src="/content/images/handyman/review-profile.png" />
                            <h4>יוסי לוי</h4>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <p>
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק.
                                תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה.
                                לפמעט מוסן מנת. קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי לורם איפסום דולור סיט אמט,

                            </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <img class="float-right" src="/content/images/handyman/review-profile.png" />
                            <h4>יוסי לוי</h4>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <p>
                                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק.
                                תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה.
                                לפמעט מוסן מנת. קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי לורם איפסום דולור סיט אמט,

                            </p>
                        </div>
                    </div>
                </div>

            </div>




        </div>
    </div>


</section>

