
.profile-details {
    margin-bottom: 5rem;
    background-color: #f9f9f9;
    height: 8rem;
    margin-bottom: 7rem;
}



.profileImg {
    width: 100%;

    border: 5px solid #fff;
    height: 17rem;

}



#profile .col-xs-2
{
    padding: 0;
}

#profile .nav-tabs > li.active > a, #profile .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover
{
    border: 1px solid #cacaca;
}

#profile .tabs-right > li.active > a, #profile .tabs-right > li.active > a:hover, #profile .tabs-right > li.active > a:focus
{
border:none;
background-color:#f9f9f9;

}

#profile .tabs-right > li > a
{
    border-radius:2px !important;
    text-align:right;
        border-bottom: 1px dashed #cacaca;
}

#profile .tabs-right
{
    border:none;
}

#profile .save
{
    background-color:#ff6a00;
    padding:0.5rem 7rem;
    color:#fff;
    margin-top:5rem;
    margin-bottom:2rem;
    border-radius:0;
}