
<section class="row" id="contactus">
    <div id="map-canvas"></div>
    <div class="container" id="contact">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12 col-lg-8 col-md-8 col-sm-8 float-left">

                    <form role="form" ng-submit="send()">
                        <h2>צרו קשר</h2>
                        <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">

                            <div class="row form-group placeholder-label">
                                <input id="fullname" type="text" class="form-control" ng-model="models.fullName">
                                <label for="fullname" class="required">שם מלא</label>
                            </div>


                            <div class="row form-group placeholder-label">
                                <input id="email" type="email" class="form-control"  ng-model="models.email">
                                <label for="email" class="required">דואר אלקטרוני</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">

                            <div class="row form-group placeholder-label">
                                <input id="tel" type="tel" class="form-control"  ng-model="models.phone">
                                <label for="tel" class="required">טלפון</label>
                            </div>

                            <div class="row form-group placeholder-label">
                                <input id="subject" type="text" class="form-control" ng-model="models.subject">
                                <label for="subject" class="required">נושא</label>
                            </div>

                           
                        </div>
                        <div class="col-xs-12">

                            <div class="row form-group placeholder-label">
                                <textarea id="textarea" class="form-control" ng-model="models.msg"></textarea>
                                <label for="textarea" class="required">הודעה</label>
                            </div>


                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <input type="submit" class="btn color-white float-left" value="שלח">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</section>