
<section class="row" id="contactus">
    <div id="map-canvas"></div>
    <div class="container" id="contact">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12 col-lg-8 col-md-8 col-sm-8 float-left">

                    <form role="form" ng-submit="send()">
                        <h2>צרו קשר</h2>
                        <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="שם מלא" ng-model="models.fullName">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="דואר אלקטרוני" ng-model="models.email">
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="טלפון" ng-model="models.phone">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="נושא" ng-model="models.subject">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="הודעה" ng-model="models.msg"></textarea>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <input type="submit" class="btn color-white float-left" value="שלח">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</section>