<link href="app/styles/website/style.css" rel="stylesheet" />
<link href="app/styles/website/responsive.css" rel="stylesheet" />
<link href="app/components/components.css" rel="stylesheet" />

<div class="font-regular main-holder {{bannerClass}}">

    <header>
        <website-menu></website-menu>
    </header>

    <div class="container-fluid">
        <ui-view></ui-view>
    </div>

    <footer>
        <p class="float-right color-white">כל הזכויות שמורות לאב הבית - מאגר בעלי מקצוע בפיקוח</p>
        <a href="http://wwww.picsize.co.il" target="_blank"><img class="float-left" src="/content/images/picsize.png" /></a>
    </footer>


</div> 