<section class="row" id="application">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                <h2>בקרוב בחנויות האפליקציות</h2>
                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4 text-center">
                        <img src="/content/images/appStore.png" />
                    </div>
                </div>
                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4 text-center">
                        <img src="/content/images/googlePlay.png" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>