
<small-banner></small-banner>

<section class="row category" id="rating-category">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                <h2 class="font-bold text-center color-light-gray">בחר בעל מקצוע</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-6 col-md-6 col-md-6 center-block">
                <p id="levels" class="text-center">בחר בעל מקצוע<span class="glyphicon glyphicon-menu-left"></span>מה התקלה או השירות<span class="glyphicon glyphicon-menu-left"></span>קבל מחיר</p>
            </div>
        </div>


        <search></search>

        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12 col-md-12 center-block text-center">
                <ul class="text-center category-list">
                    <li ng-repeat="category in models.categories track by $index">
                        <a ui-sref="website.ratingSubCategory({ratingCategoryName:category.Name})" ng-click="setCategoryCookie(category)">{{category.Name}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div ng-repeat="category in models.categories track by $index" class="col-xs-6 col-lg-4 col-md-4 col-md-4 box-cat" style="background-image:url('/content/images/category/{{category.Img}}')">
                <h3 class="font-bold"><a class="color-blue" ui-sref="website.ratingSubCategory({ratingCategoryName:category.Name})" ng-click="setCategoryCookie(category)">{{category.Name}}</a></h3>
                <ul>
                    <li ng-repeat="subCategory in category.SubCategory">
                        <a ui-sref="website.ratingSubCategory({ratingCategoryName:category.Name,ratingSubCategoryName:subCategory.Name})">{{subCategory.Name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</section>

<articles></articles>

<application></application>














