
<div class="row">
    <div class="col-xs-12 col-lg-6 col-md-6 col-md-6 center-block text-center">
        <angucomplete-alt id="search"
                          placeholder="מה התקלה?"
                          pause="100"
                          selected-object="inputChanged"
                          local-data="models.subCategories"
                          search-fields="Name"
                          title-field="Name"
                          minlength="1"
                          input-class="form-control form-control-small"
                          auto-match="true"/>
    </div>
</div>
